* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  font-size: 16px;
  font-family: "Inter", serif;
}

/*                                                                  Header elements */

header {
  background-color: black;
  height: 6.5rem;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  z-index: 10;
}
/* left side word */
.greeting {
  color: white;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 2rem;
}

/* links */
.internalLinks {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.internalLinks ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.internalLinks li {
  margin-right: 3rem;
  color: lightgrey;
}

/*                                                                      main content */

main {
  position: relative;
  top: 6.5rem;
  background-color: white;
}

/*                                                                  banner elements */

#banner {
  height: 50rem;
  width: "100%";
  background-image: url("./images/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: black;
  display: flex;
  flex-direction: row;
}

/*     banner text */

#banner .text {
  flex: 1;
  color: rgb(255, 255, 255);
  margin-left: 5rem;
  margin-top: 10rem;
}

#banner h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#banner h2 {
  font-size: 2.5rem;
}

/*                                                                  projects elements */

.developmentGrid {
  width: 100%;
  display: grid;
  grid-template: 25% 25% 25% / 400px;
}
/*                                                                   contact elements */

/*                                                                      Footer elements */
